.top-view {
  margin-bottom: 50px;
}

.subheader {
  text-align: center;
  margin-bottom: 20px;
}

.card-style {
  background: white;
  border-radius: 10px;
}

.card-img-top {
  height: 40vh;
}

@media all and (max-width: 600px) {
  .list-style {
    width: 50%;
  }
}