.top-view {
  margin-bottom: 50px;
}

.subheader {
  text-align: center;
  margin-bottom: 20px;
}

.card-style {
  background: white;
  border-radius: 10px;
  height: 45vh;
}

.card-img-top {
  height: 40vh;
}
